body{
    margin: 0;
    padding: 0;
    background-color: #040d4e;
    color: #f7a01b;
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1, p{
    text-align: center;
    margin: 1em 0;
}

form{
    margin: 0 auto;
    width: 60vw;
}

input, select{
    margin: 15px 0 0 0;
    width: 100%;
    min-height: 2em;
    
}

label{
    display: block;
    margin: 1rem 0;
}

fieldset{
    padding: 2em 0;
    border: none;
    border-bottom: #f7a01b dotted 10px ;
}

fieldset:last-of-type{
    border-bottom: none;}

legend{
    padding-top: 1rem;
}

.align-radio{
    width: unset;
    margin: 0 .5em 0 0;
    vertical-align: middle;
}

button{
    display: block;
    width: 60%;
    margin: 1em auto;
    background-color: #f7a01b;
    color: #040d4e;
    height: 2em;
    min-width: 300px;
    font-size: 3em;
    border-radius: 5px;
}